.extend-modal {
    .divider {
        width: 100%;
        margin: 0;
        border-bottom: $neutral-color-light 1px solid;
        margin-top: 1rem !important;
        margin-bottom: 0.7rem;
    }
    .field-container {
        .field-label {
            margin-bottom: 0.2rem;
        }
        .field-hint {
            font-size: 0.8rem;
            color: $neutral-color-dark;
            margin: 0.2rem 0;
        }
    }
}