.help-accordion {
  .card {
    border-radius: 0;
    border: none;
    .card-header {
      background-color: $neutral-color-light;
      text-align: left;
      border: none;
      // padding-top: 0;
      border-bottom: $neutral-color-base 1px solid;
      padding: 0.2rem 1.5rem;
      .topic-title {
        margin-bottom: 0;
      }
      button {
        border: none;
        text-align: left;
        width: 100%;
        background-color: $neutral-color-light;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0.5rem 0;
        // border-bottom: $neutral-color-base 1px solid;
        svg {
          fill: $brand-color-two-dark;
          width: 24px;
          height: 24px;
        }
        &:hover {
          svg {
            fill: $brand-color-one-base;
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
  &:first-child {
    .card {
      border-radius: 3px 3px 0 0;
    }
  }
  &:last-child {
    .card {
      border-radius: 0px 0px 3px 3px;
    }
  }
}

.help-dropdown {
  button {
    &:after {
      display: none;
    }
  }
  .help-icon {
    width: 22px;
    height: 22px;
    fill: $white;
    stroke: $white;
  }
}

.language-dropdown {
  button {
    font-weight: bold !important;
    &:after {
      display: none;
    }
  }
}
