.help-accordion {
  .card-header {
    background-color: $neutral-color-light;
    text-align: left;
    button {
      border: none;
      text-align: left;
      background-color: $neutral-color-light;
    }
  }
}

.help-dropdown {
  button {
    &:after {
      display: none;
    }
  }
  .help-icon {
    width: 22px;
    height: 22px;
    fill: $white;
    stroke: $white;
  }
}

.language-dropdown {
  button {
    font-weight: bold !important;
    &:after {
      display: none;
    }
  }
}
