.language-dropdown {
    // border-left: 2px solid $neutral-color-light;
    padding-left: 1rem;
    position: absolute; 
    top: 1.2rem;
    right: 1rem;
    z-index: 999;
    .dropdown-menu {
        a {
            &:active {
                background-color: white;
            }
        }
    }
}