.main-table {
  tr td:first-child {
    max-width: 3rem;
    width: 2rem;
  }
  tr th:first-child {
    max-width: 3rem;
    width: 2rem;
  }
  .MuiTableHead-root .MuiTableRow-root .MuiTableCell-head {
    cursor: grab;
  }

  .MuiTableHead-root .MuiTableRow-root .MuiTableCell-head:not(:first-child) {
    font-weight: bold;
    resize: horizontal;
    overflow-x: overlay;
    overflow-y: hidden;
  }

  .MuiTableHead-root .MuiTableRow-root .MuiTableCell-head:first-child {
    max-width: 3rem;
    width: 3rem;
    min-width: 0px;
    //border-right: black 1px solid;
  }

  /*.MuiTableHead-root .MuiTableRow-root .MuiTableCell-head:not(:first-child){
        border-top: black 2px solid;
        z-index: 5;
        }*/
  .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root:first-child {
    max-width: 2rem;
    width: 2rem;
    min-width: none;
    // border-right: black 1px solid;
    overflow-y: hidden;
    //overflow-x: scroll;
  }

  .MuiToolbar-root {
    display: block !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-bottom: $brand-color-two-base 3px solid;
    border-radius: 3px;
  }

  .MuiToolbar-regular.MuiToolbar-root .MuiButtonBase-root {
    display: none !important;
  }

  .MuiTablePagination-root .MuiToolbar-root {
    display: flex !important;
  }

  .MuiTableRow-root.MuiTableRow-footer .MuiTablePagination-actions button {
    display: inline-flex !important;
  }

  .MuiPaper-root {
    // height: 100vh !important;
  }

  .green {
    background-color: green;
  }

  .orange {
    background-color: orange;
  }

  td.MuiTableCell-root {
    resize: vertical;
    //display: flex;
    overflow-y: overlay;
    overflow-x: hidden;
    //width: 100%;
  }
}
