.table-head-cell {

  p{
    margin: 0.2rem !important;
  }
  .header-cell {
    display: flex;
    flex-direction: column;
  }

  .status-cell {
    display: flex;
    justify-content: center;
    height: 2rem;
    .cursor-pointer {
      cursor: pointer;
    }
  }

  .status-cell {
    svg {
      width: 1.2rem;
      height: 1.2rem;
      margin: 0.2rem;
      &.stroke {
        stroke: $brand-color-two-base;
      }
      &:not(.stroke) {
        fill: $brand-color-two-base;
      }
    }
  }
  .label-cell {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .meta-dot {
      border-radius: 50%;
      height: 10px;
      width: 10px;
      margin: 0.6rem 0.5rem 0 0;
      cursor: pointer;
      &.green {
        background-color: green;
      }
      &.orange {
        background-color: orange;
      }
    }
    svg {
      width: 1rem;
      margin-left: 0.5rem;
      position: relative;
      bottom: 0.4rem;
      cursor: pointer;
      fill: $brand-color-two-base;
      opacity: 0;
    }
    &:hover{
      svg {
          opacity: 1;
      }
  }
  }

  .accessor-cell {
    p {
      margin: 0.2rem;
    }
  }
  .spacer {
    height: 1.8rem;
  }

}
