.upper-bar {
    display: flex;
    flex-direction: row;
    padding:0.8rem 0 0.8rem 2rem;
    display: flex;
    justify-content: space-between;
    //background-color: $brand-color-two-base;
}
.upper-bar h2 {
    white-space: nowrap;
    margin: 0.2rem 0 0.2rem 0;
    text-align: left;
}