.commandsBar{
    padding: 0.3rem 2rem 0 2rem;
    width:100%;
    display: inline-flex;
    justify-content: space-between;
}
.commandsBar > div {
    display: inline-flex;
}

.commandsBar button{
    margin: 0 1rem;
}

.languageContainer{
    align-self: flex-end;
}