.headerCell{
    display: flex;
    flex-direction: column;
}

.statusCell{
    display: flex;
    justify-content: center;
    height: 2rem;
    .cursorPointer {
        cursor: pointer;
    }
}

.statusCell svg{
    width:1.2rem;
    height:1.2rem;
    margin: 0.2rem;
}

.accessorCell{
    p{
        margin: 0.2rem;
    }
}

.selectedIcon{
    background:url("../../../../Assets/Icons/selected.png");
    background-size: contain;
    height: 1.3rem;
    width: 1.3rem;
}

.newIcon{
    background: url("../../../../Assets/Icons/new.png");
    background-size: contain;
    height: 1.3rem;
    width: 1.3rem;
}