.TableContainer {
  overflow-y: scroll;
  &::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.26);
  }
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
}

.ContextMenuIcon {
  width: 20px !important;
  height: 20px !important;
  color: #5F6368;
}