.HotKeysContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: hidden;
  outline: none;

  .TableContainer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex-grow: 1;
    &::-webkit-scrollbar-thumb {
      background: rgba(0,0,0,.26);
    }
    &::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }
  }
}

.ContextMenuIcon {
  width: 20px !important;
  height: 20px !important;
  color: #5F6368;
}