.dropdown button{
    background-color: #042650;
    border-color: #042650;
}

.dropdown{
    margin-top:1rem;
}

.dropdown button:active{
    background-color: #042650 !important;
    border-color: #042650 !important;
}

.dropdown button:focus{
    background-color: #042650 !important;
    border-color: #042650 !important;
}

.dropdown button:hover{
    background-color: #063774 !important;
}

.fieldContainer {
    padding: 0.6rem 0;
    &:first-child {
        padding-top: 1.2rem;
    }
}