.Container {
  width: 10px;
  height: 10px;
  border-radius: 50%;

  &.Error {
    background-color: #f45725;
  }
  &.Warn {
    background-color: #ffc700;
  }
  &.Success {
    background-color: #4ac99b;
  }
}