.Container {
  display: flex;
  align-items: center;
  background-color: inherit;
  min-height: 28px;
  
  .CellLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 18px 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .TextLabel {
      flex: 1;
      text-align: left;
    }
    
    &.Dense {
      padding: 6px 4px;
      font-size: 14px;
    }
  
    .Badge {
      // position: absolute;
      // left: 10px;
      // top: 50%;
      // transform: translateY(-50%);
    }
  }

  .ExpandableList {
    flex-shrink: 0;
    border-left: 1px solid #ededed;

    .Item {
      display: flex;
      align-items: center;
      width: 100%;
      & > :first-child {
        max-width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: auto;
      }

      .Icon {
        width: 20px;
        height: 20px;
        color: #4AC99B;
      }
    }
  }

  .LinkMatched {
    color: #4AC99B;
  }
}

