
//brand color one 
$brand-color-one-base: #ff711f;
$brand-color-one-hover: #ff8742;
$brand-color-one-disabled: #F4A77B;
$brand-color-one-light: #ffe0ce;

// brand color two
$brand-color-two-dark: #0b2e47;
$brand-color-two-base: #124E78;
$brand-color-two-hover: #1867A0;
$brand-color-two-disabled: #4EA6E4;

// neutral color
$neutral-color-light: #EAEAEA;
$neutral-color-base: #959595;
$neutral-color-dark: #5d5d5d;

$white: #FFFFFF;
$black: #1F1F1F;

