
//brand color one 
$brand-color-one-base: #CA5310;
$brand-color-one-hover: #ed691d;
$brand-color-one-disabled: #F4A77B;

// brand color two
$brand-color-two-base: #124E78;
$brand-color-two-hover: #1867A0;
$brand-color-two-disabled: #4EA6E4;

// neutral color
$neutral-color-base: #EAEAEA;

$white: #FFFFFF;
$black: #1F1F1F;

