select {
    &:focus {
        box-shadow: none !important;
        border: 2px solid $brand-color-two-hover !important;
    }
}

input {
    &:focus {
        box-shadow: none !important;
        border: 2px solid $brand-color-two-hover !important;
    }
}