.Arrow {
  text {
    transition: all 150ms ease-out;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    opacity: 0.7;
  }

  path {
    transition: stroke-width 150ms ease-out;
    cursor: pointer;
    stroke-width: 2px;
  }

  .TooltipContainer {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 100ms ease-out;
    z-index: 1000;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.2));
  }

  .TooltipPointer {
    fill: white;
    stroke: #ddd;
    stroke-width: 1px;
    filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
  }

  .TooltipBackground {
    fill: white;
    stroke: #ddd;
    stroke-width: 1px;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.15));
    rx: 4;
  }

  .Tooltip {
    fill: #333;
    font-size: 12px;
    font-weight: 500;
    user-select: none;
    pointer-events: none;
  }

  &:hover {
    text {
      opacity: 1;
      transform: scale(1.1);
    }

    path {
      stroke-width: 3px;
    }

    .TooltipContainer {
      opacity: 1;
      visibility: visible;
      pointer-events: none;
      will-change: transform;
      transition: none;
    }
  }
}
