.Container {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-left: 1px solid #ededed;

  .PropertyContainer {
    display: flex;
    flex-direction: column;

    & > :first-child {
      color: #000;
      border-bottom: 1px solid #ededed;
    }

    .PropertyItem {
      display: flex;
      align-items: center;
      gap: 10px;
      
      & > * {
        flex: 1;
      }
    }
  }

  .List {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 10px;

    .ListItem {
      display: flex;
      gap: 10px;
    }
  }

  .Row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}