.Table {
    transition: transform 200ms cubic-bezier(0.38, 0.81, 0.49, 1.07);
    table-layout: fixed;
    width: max-content;
    padding-right: 20px;

    &.HeaderExpanded {
        border-top: 1px solid #ededed;
        transform: translateY(250px);
    }
}

.SvgContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 250px;
    width: 100%;
}

.Canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
