.Container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .ContentWrapper {
    display: flex;
    height: 100%;

    .Content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}