.Container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .ContentWrapper {
    display: flex;
    height: 100%;

    .Content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin: 16px;
      box-shadow: rgb(61 71 82 / 25%) 0px 4px 20px;
      border-radius: 10px;
      overflow: hidden;
    }
  }
}


