.Container {
  position: relative;
  border-right: 1px solid #ededed;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ededed;
  }
}