.Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #ededed;
  gap: 20px;

  padding: 8px 12px;
  box-sizing: border-box;
  
  .ColumnMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    // actions row
    .ActionsContainer {
      margin-left: 9px;

      .SmallButton {
        min-width: 38px;
      }
    }

    .RowMenu {
      display: flex;
      flex-direction: row;
      align-items: center;

      .DefaultName {
        color: #b0b0b0;
      }
    }

    .SaveIcon {
      margin-left: 10px;
    }
  }

  .SaveButton {
    margin-left: auto;
  }
}