.Input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  min-width: 300px;
  width: 100%;

  transition: min-width 200ms cubic-bezier(0.08,0.52,0.52,1);

  &.Focus {
    min-width: 400px;
  }
}