body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*bootstrap styles */

.modal-footer{
  justify-content: space-between !important;
}

tr td:first-child{
  max-width: 3rem;
  width: 2rem;
}
tr th:first-child{
  max-width: 3rem;
  width: 2rem;
}


.MuiTableHead-root .MuiTableRow-root .MuiTableCell-head:not(:first-child) {
  font-weight: bold;
  resize: horizontal;
  overflow-x: overlay;
  overflow-y: hidden;
}

.MuiTableHead-root .MuiTableRow-root .MuiTableCell-head:first-child{
  max-width: 3rem;
  width: 3rem;
  min-width: 0px;
}
.MuiTableBody-root .MuiTableRow-root .MuiTableCell-root:first-child{
  max-width: 2rem;
  width: 2rem;
  min-width: none;
  border-right: black 2px solid;
  overflow-y: hidden;
}
