// base sass

@import "./styles/_colors.scss";
@import "./styles/_fonts.scss";
@import "./styles/_commons.scss";
@import "./styles/_forms.scss";

//components

@import  "./styles/components/language-dropdown.scss";
@import "./styles/components/tutorial.scss";
@import "./styles/components/get-data.scss";
@import "./styles/components/extend-modal.scss";
@import "./styles/components/commands-bar.scss";
@import "./styles/components/table.scss";
@import "./styles/components/cell.scss";
@import "./styles/components/table-head-cell.scss";
@import "./styles/components/save-table.scss";
@import "./styles/components/upper-bar.scss";
@import "./styles/components/meta-table-modal.scss";
@import "./styles/components/number-input-modal.scss";
@import "./styles/components/table-name.scss";

