.TableHeaderCell {
  position: relative;
  vertical-align: top;
  font-size: 16px;
  font-weight: normal;
  color: rgba(27, 31, 59, 0.65);
  border-right: 1px solid #ededed;
  border-top: 2px solid transparent;

  .ResizeHandle {
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 100%;
    cursor: ew-resize;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.02);
    user-select: none;
    touch-action: none;
  }

  &.Resizing {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .Role {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &:hover {
    .ColumnSelectionButton {
      visibility: visible;
    }

    .SortButton {
      visibility: visible;
    }
  }

  .ColumnSelectionButton {
    position: absolute;
    top: 5px;
    right: 5px;
    visibility: hidden;
    z-index: 10;
  }

  .SortButton {
    visibility: hidden;
  }

  &.TableHeaderIndex {
    width: 38px;
  }

  .PinButton {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
    visibility: hidden;
  }

  :hover .PinButton {
    visibility: visible;
  }

  .DragHandle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    cursor: grab;
    user-select: none;
    opacity: 0.6;
  }

  :hover .DragHandle {
    opacity: 1;
  }

  // &.Selected {
  //   background-color: var(--brand-color-one-transparent-dark);
  //   border-top: 2px solid var(--brand-color-one-base)
  // }
  &.Selected {
    background-color: var(--brand-color-one-transparent);

    &::after {
      position: absolute;
      content: '';
      top: -2px;
      left: -1px;
      width: calc(100% + 1px);
      height: 2px;
      background-color: var(--brand-color-one-base);
    }
  }

  .TableHeaderContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .Column {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 12px 10px;
      flex: 1 1 auto;
    }

    .Row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      //height: 100%;
    }

    .Label {
      flex: 1 1 auto;
      margin-right: 10px;
    }

    .SubjectLabel {
      &:first-letter {
        text-transform: capitalize;
      }
    }
  }
}
