.Container {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-left: 1px solid #ededed;
  height: 100%;

  .PropertyContainer {
    display: flex;
    flex-direction: column;

    .Label {
      color: var(--brown-dark);
      border-bottom: 1px solid #ededed;
      text-transform: uppercase;
      font-size: 12px;
    }


    &:not(:first-child) {
      border-top: 1px solid #ededed;
    }

    .PropertyItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 5px 10px;
      text-align: left;

      & > * {
        flex: 1;
      }
    }
  }

  .List {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 10px;

    .ListItem {
      display: flex;
      gap: 10px;
    }
  }

  .ExpandableList {
    flex-shrink: 0;
    border-top: 1px solid #ededed;

    .Item {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 12px;

      .MetaLink {
        max-width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: auto;
        margin-left: 25px;

        a {
          margin: 0
        }
      }

      .Icon {
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        color: #4AC99B;
      }
    }
  }

  .Row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}


