.TableRowCell {
  position: relative;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  background-color: inherit;
  max-width: 50px;

  &.Selected {
    // background: rgba(33, 148, 255, 0.12);
    // background-color: rgb(245, 0, 87, 0.1);
    background-color: #FEF2F6;
  }

  // add border to index column
  &:first-child {
    border-right: 1px solid #ededed;
  }
  
  // apply style to cell if column is selected
  &.SelectedColumn {
    background-color: rgb(245, 0, 87, 0.05);
  }

  // color cell if not selected
  // &:hover {
  //   &:not(.Selected) {
  //     background-color: #f6f6f6;
  //     // background-color: #ededed;
  //   }
  // }
}