.upperBar {
    display: flex;
    flex-direction: row;
    padding:0.8rem 0 0.8rem 2rem;
    display: flex;
    justify-content: space-between;
}
.upperBar h2 {
    white-space: nowrap;

    text-align: left;
}